# 디폴트 무시된 파일
/shelf/
/workspace.xml
# Rider에서 무시된 파일
/modules.xml
/projectSettingsUpdater.xml
/.idea.DirectX11_Portpolio.iml
/contentModel.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .gitignore in D:\DX-Portpolio\DirectX11-Portpolio

# Ignore Visual Studio project settings
DirectX11_Portpolio/.vs/
DirectX11_Portpolio/.idea/

# Ignore build output folders
DirectX11_Portpolio/Debug_Engine/
DirectX11_Portpolio/Debug_Game/
DirectX11_Portpolio/x64/Debug/

*.tlog
*.log
*.ini
*.idb
*.pdb
*.filters
*.user
*.lib